body {
	text-align: center; 
	margin:0px;
	padding:0px;
	font-family:verdana, arial;
	font-size: 11px;	
	color:#333;
	background-color:white;
}

h1 {		
                font-family:verdana, arial;
		font-size: 11px;	
		color:#939393;
		font-weight:bold;
		margin:0 auto;
		width:770px;
		text-align:left;
		height:18px;
		background:transparent url('images/h1.gif') no-repeat;
		padding:1px 0 0 20px;

}
h2 {
		font-family:verdana, arial;
		font-size: 11px;	
		color:#000;
         	font-weight:bold;

}


form {

	margin:0;
	padding:0;
}



.tbl_color1 {

	background:#f1ffb7;
}

.tbl_color2 {

	background:#fbffeb;
}
.maintext {
		font-family:verdana, arial;
		font-size: 11px;	

}


.left {

	text-align:left;
	margin:auto;
	width:200px;

}


.input_txt {

	font-weight:bold;
	font-size:11px;
	font-family:Verdana;

}

a.menu_nav:link, a.menu_nav:visited, a.menu_nav:active {
  	text-decoration: none;
  	background: transparent;
}

a.menu_nav:hover {
  	text-decoration: underline;

  	background: transparent;
}

a:link, a:visited, a:active {
  	text-decoration: underline;
  	color: #60683e;
  	background: transparent;
}

a:hover {
  	text-decoration: underline;
  	color: #537BB6;
  	background: transparent;
}


a.edit:link, a.edit:visited, a.edit:active {
  	text-decoration: underline;
  	color: #5f84b4;
  	background: transparent;
	font-size:11px;
	margin-right:5px;
}

a.edit:hover {
  	text-decoration: underline;
  	color: #537BB6;
  	background: transparent;
	font-size:11px;
	margin-right:5px;
}

a.cat:link, a.cat:visited, a.cat:active {
  	text-decoration: none;
  	color: #6a6a6a;
	font-weight:bold;
	font-family:verdana;
	background:transparent url('images/folder.gif') no-repeat;
	background-position:left;
	padding-left:23px;
	font-size:13px;
}

a.cat:hover {
  	text-decoration: none;
  	color: #537BB6;
	background:transparent url('images/folder.gif') no-repeat;
	background-position:left;
	padding-left:23px;
	font-family:verdana;
	font-size:13px;
	font-weight:bold;
}

a.cat3:link, a.cat3:visited, a.cat3:active {
  	text-decoration: none;
  	color: #6a6a6a;
	font-weight:bold;
	font-family:verdana;
	background:transparent url('images/info.gif') no-repeat;
	background-position:left;
	padding-left:23px;
	font-size:13px;
	padding-bottom:2px;
	padding-top:2px;
}

a.cat3:hover {
  	text-decoration: none;
  	color: #a873b3;
	background:transparent url('images/info.gif') no-repeat;
	background-position:left;
	padding-left:23px;
	font-family:verdana;
	font-size:13px;
	font-weight:bold;
	padding-bottom:2px;
	padding-top:2px;
}

a.cat2:link, a.cat2:visited, a.cat2:active {
  	text-decoration: underline;
  	color: #6a6a6a;
	font-weight:bold;
	font-family:verdana;
	background:transparent url('images/icon.gif') no-repeat;
	background-position:left;
	padding-left:23px;
	font-size:12px;
	padding-top:3px;
	padding-bottom:3px;
}

a.cat2:hover {
  	text-decoration: underline;
  	color: #537BB6;
	background:transparent url('images/icon.gif') no-repeat;
	background-position:left;
	padding-left:23px;
	font-family:verdana;
	font-size:12px;
		padding-top:3px;
	padding-bottom:3px;
}


a.header_1:link, a.header_1:visited, a.header_1:active {
  	text-decoration: none;
  	color: #adadad;
  	background: transparent;
	font-family:Verdana;
	font-size: 19px;
	text-transform:uppercase;
	font-weight:bold;
}

a.header_1:hover {
  	text-decoration: none;
  	color: #adadad;
  	background: transparent;
	font-family:Verdana;
	text-transform:uppercase;
	font-size: 19px;
	font-weight:bold;
}

.back_link_valid {

	color:#71c625;
	margin-left:29px;
}

.back_link_invalid {

	color:#b61f1f;
	margin-left:29px;
}

#h_1 {

	float:left;
	margin-top:20px;
	margin-left:10px;	
}

#h_2 {

	float:right;
	width:150px;
	text-align:right;

}

.logout_btn {
	margin-top:8px;
}
	
.login_space {
	margin-top:1px;
	height:20px;
}

.header_brand {

	clear:both;

}

a.header_2:link, a.header_2:visited, a.header_2:active {
  	text-decoration: none;
  	color: #505050;
  	background: transparent;
	font-family:Verdana;
	font-size: 10px;
	text-decoration:underline;
	text-transform:uppercase;
	float:right;
}

a.header_2:hover {
  	text-decoration: none;
  	color: #505050;
  	background: transparent;
	font-family:Verdana;
	text-transform:uppercase;
	font-size: 10px;
	text-decoration:underline;
	float:right;

}
a.sub_cat:link, a.sub_cat:visited, a.sub_cat:active {
  	text-decoration: none;
  	color: #767676;
  	background: transparent;
	font-size:11px;

}

a.sub_cat:hover {
  	text-decoration: underline;
  	color: #767676;
  	background: transparent;
	font-size:11px;

}

a.bottom_links:link, a.bottom_links:visited, a.bottom_links:active {

 border-right:1px solid #97a45c;
 border-bottom:1px solid #97a45c;
 border-left:1px none #97a45c;
 border-top:1px none #97a45c;
 background-color: #e3fe76;
 font-size: 10px;
 text-transform:uppercase;
 text-decoration:none;
 font-family: Verdana;
 font-weight:bold;
 color: #647a05;
 padding: 12px;
 margin-top: 10px;
 cursor:pointer;
}

a.bottom_links:hover {
	
border-right:1px solid #97a45c;
 border-bottom:1px solid #97a45c;
 border-left:1px none #97a45c;
 border-top:1px none #97a45c;
 background-color: #e3fe76;
 text-transform:uppercase;
 font-size: 10px;
 text-decoration:none;
 font-family: Verdana;
 font-weight:bold;
 color: #647a05;
 padding: 12px;
 cursor:pointer;
}

#button_links_bg {

	height:60px;
	padding-top:30px;


}
input, textarea, select {
 border-width: 1px;
 border-style: solid;
 border-color: #858485;
 background-color: #F9F9F9;
 font-size: 13px;
 font-family: Verdana;
 color: #605E5E;
 padding: 3px;
 margin: 3px 3px 3px 3px;
}

select {
 border-width: 1px;
 border-style: solid;
 border-color: #858485;
 background-color: #F9F9F9;
 font-size: 13px;
 font-family: Verdana;
 color: #605E5E;
 padding: 1px;
 margin: 3px 3px 3px 3px;
}

input.btn {
	
 border-right:1px solid #97a45c;
 border-bottom:1px solid #97a45c;
 border-left:1px none #97a45c;
 border-top:1px none #97a45c;
 background-color: #d4f130;
 font-size: 10px;
 text-transform:uppercase;
 font-family: Verdana;
 font-weight:bold;
 color: #647a05;
 padding: 3px;
 margin: 4px;
 cursor:pointer;

}

input.btn_db {
	
 border-right:1px solid #97a45c;
 border-bottom:1px solid #97a45c;
 border-left:1px solid #d8eeff;
 border-top:1px solid #d8eeff;
 background-color: #d4f130;
 font-size: 9px;
 font-weight:bold;
 text-transform:lowercase;
 font-family: Verdana;
 color: #647a05;
 padding: 1px;
 margin: 2px;
 cursor:pointer;

}

.top_text {

	width:550px;
	background:#f4ffc0;
	position:relative;
	padding:15px 1px 15px 10px;
	margin:10px auto 10px auto;
	color:#718125;
	font-size:10px;
	font-weight:bold;	
	text-align:left;
	
}

#news_admin {
	
	float:left;
	width:160px;
	margin-left:50px;
	text-align:left;

}

#admin_main {

	float:left;
	width:230px;
	margin-left:10px;

}
.admin_right
{
	text-align:left;
	margin-left:30px;
}
.db_backup
{
	z-index:0;
	text-align:left;
	margin-left:5px;
	margin-bottom:15px;
	background-color:#F7F7F7;
	float:left;
	width:240px;
	height:200px;
}

.marg {
	
margin-left:65px;
font-size:11px;

}

.marg_desc {
	
margin-left:29px;

}

#container
{
	margin: auto;
	width: 790px;
	padding:0;
	text-align: center;
	background-color: #fff;
}

#header_left {

	background:#fff url('images/header_left.gif') no-repeat;
	width:24px;
	height:67px;
	float:left;

}

#header_right {

	background:#fff url('images/header_right.gif') no-repeat;
	width:24px;
	height:67px;
	float:left;

}

#header_center {

	background:#fff url('images/header_bg.gif') repeat-x;
	width:742px;
	height:67px;
	float:left;

}

#header {

	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left;	
	height:67px;
	background:#fff;
	font-family:Verdana;
	color:#fff;
	font-size: 19px;
	
}

.header_block_1 {
		
	display:inline;

}
.header_block_2 {
	
	display:inline;
	margin:50px;

}

#Link_navigation {

	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;	
	padding-top:25px;
	padding-bottom:25px;
	font-family:Verdana;
}


#Content {
	margin-left: auto;
	margin-right: auto;
	padding-top:25px;
	padding-bottom:42px;
	width: 100%;
	color:#323232;
	text-align: left;	
	position: relative;
	background:#fff url('images/cont_bg_up.gif') repeat-x;
	font-family:Verdana;
	font-size: 11px;
	clear:both;
}

.cont_left {

	background:#fff url('images/cont_left.gif') no-repeat;
	width:23px;
	height:60px;
	float:left;
	top:0;
	left:0;
	z-index:0;
	position:absolute;

}

.cont_right {

	background:#fff url('images/cont_right.gif') no-repeat;
	width:23px;
	height:60px;
	float:right;
	top:0;
	right:0;
	position:absolute;
	z-index:0;

}

.cont_left_bottom {

	background:#fff url('images/header_left.gif') no-repeat;
	width:24px;
	height:67px;
	float:left;
	bottom:0;
	left:0;
	position:absolute;
	z-index:0;

}

.cont_right_bottom {

	background:#fff url('images/header_right.gif') no-repeat;
	width:24px;
	height:67px;
	float:right;
	bottom:0;
	right:0;
	position:absolute;
	z-index:0;

}

.cont_center_bottom {

	background:#fff url('images/header_bg.gif') repeat-x;
	height:67px;
	width;
	bottom:0;
	left:24px;
	right:24px;
	position:absolute;
	width:742px;
	z-index:0;
}

.cont_padd {

	margin-top:30px;
	margin-bottom:50px;
	margin-left:20px;
	margin-right:10px;	
	text-align:center;
}

#Add {

	text-align: left;	
	position: relative;
	font-size:11px;
	color:#605E5E;
}


#Links {

	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	padding-top:20px;
	padding-bottom:20px;	
	font-family:Verdana;
	background:#fff url('images/cont_bg_up.gif') repeat-x;
	position:relative;

}

#cat_links {

	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: left;	
	font-family:Verdana;
}

.link_item {


	margin-top:10px;
	margin-bottom:10px;
	padding:15px;
	background:#fff;
	text-align:left;	
	border-bottom:2px solid #eee;
}

#for_search_result {
	
	float:right;
	margin-left:20px;
	width:200px;
	margin-top:20px;
	text-align:left;
	background-color:#fff;
	padding:10px;
	border: 1px solid #c7ed27;
	font-size:10px;
	color:#7e9900;
	font-weight:bold;
}


a.for_search:link, a.for_search:visited, a.for_search:active {
  	text-decoration: underline;
  	color: #767676;
  	background: transparent;
	font-size:10px;
	font-weight:normal;
}

a.for_search:hover {
  	text-decoration: underline;
  	color: #767676;
  	background: transparent;
	font-size:10px;
	font-weight:normal;
}

.tbl_result {
	
	padding-left:50px;

}
#sp {

	clear:both;
	height:2px;
	font-size:7px;

	
}


#Cat_navigation  {

	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left;	
	padding-top:25px;
	padding-bottom:25px;
	background-color:transparent;
	font-family:Verdana;
}

#navigation  {
	
	margin: auto;
	text-align: left;	
	height:37px;
	width:98%;
	background-color:#eee;
	font-family:Verdana;
	background:#fff url('images/menu_bg.gif') repeat-x;
}



#navigation_left  {

	width:30px;
	height:37px;
	background:#fff url('images/menu_left.gif') no-repeat;
	background-position:right;
	float:left;
}

#navigation_right  {

	width:30px;
	height:37px;
	background:#fff url('images/menu_right.gif') no-repeat;
	float:right;
	background-position:left;
}

#navigation_center  {

	height:37px;
	margin-top:10px;
	float:left;
	text-align:center;
	width:710px;
	font-size:11px;


}

#Related {

	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left;	
	padding-top:25px;
	padding-bottom:25px;
	font-family:Verdana;
}


#footer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;	
	padding-top:4px;
	margin-bottom:10px;
	color:#aaa;
	background-color:#fff;
	font-family:Verdana;
	clear:both;
}

#Cat {

	width: 60%;
	text-align: left;	
	padding:10px;
	background-color:#F7F7F7;
}

.ska_table {
	
	border:1px solid #D8D8D8;
	
}

.msg_left{
	background:#eee;
	text-align:left;
	
}

hr{
	height:1px;
	border:0;
	margin-top:8px;
	margin-bottom:8px;
	color:#999;
	background:#999;
	
}

.msg
{
	color:#5f84b4;
	font-weight:bold;
	font-family:Verdana;
	width:80%;
	font-size:11px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	text-align: left;	
	position: relative;
}

.cen
{	
	color:#605E5E;
	font-family:Verdana;
	width:100%;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}

.for_banner {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color:#323232;
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;	
	position: relative;
	background-color:#fff;
	font-family:Verdana;
	clear:both;
	font-size:5px;

}


.help_name {

	background:#ffffff;
	border:1px solid #e2fd76;
	padding:10px;
	clear:both;
	font-size:11px;
	margin-bottom:25px;


}

.sec_name {

	background:#ffffff;
	padding:10px;
	clear:both;
	font-size:11px;
	margin-bottom:25px;
	width:100%;
	text-align:left;


}

.help_name_cap {

	color:#7a9311;
	font-weight:bold;
	font-size:11px;



}


#help_title {

	color:#969696;
	font-weight:bold;
	font-size:11px;
	margin-left:5px;
	margin-bottom:5px;
}
.dis_set_input{

	background:#DFDFDF;
	font-size:11px;
	margin-bottom:1px;
}
.set_input
{
	background:#F9F9F9;
	font-size:11px;
	margin-bottom:1px;
}
.set_select
{
	background:#F9F9F9;
	font-size:11px;
	margin-bottom:1px;
}
.small_text
{
	font-size:9px;
	color:#898989;
}
