<include file="header" />

<!-- Header -->

	

	<!-- /////////////////////////////////////////Content -->

    

	<div id="page-content" class="archive-page">

		<div class="container">

        

			<div class="row">

				<div id="main-content" class="col-md-12">

                

            	<div class="box">

						<div class="box-header">

							<h2><i class="fa fa-vimeo-square"></i> {$ti}</h2>

						</div>

						<div class="box-content">

							<div class="row">

								

                                <volist name="tp" id="vo">

								<div class="col-md-3" style="height:220px;">

									<div class="wrap-vid">

										<div class="zoom-container">

											<div class="zoom-caption">

												<span>{$sj[$key]}</span>

												<a href="/yxk/index.php/home/index/read?url={$a2[$key]}">

													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>

												</a>

											

											</div>

											<img src="{$vo}" style="width:260px; height:145px;" />
	<p style="font-size:14px">{$a1[$key]}</p>
										</div>

									

									

										

											

									

									</div>

								</div>

                                       </volist>

                                

								

								</div>

							</div>

						</div>

					</div>

				</div>

			

					<center>

				{$page}

					</center>

				</div>

			</div></div></div>

<include file="footer" />



	
