<include file="header" />

<!-- Header -->

	

	<!-- /////////////////////////////////////////Content -->

	<div id="page-content" class="single-page">

		<div class="container">

			<div class="row">

				<div id="main-content" class="col-md-8">

			
 <iframe height=500 width=750 src='{$uurl}' frameborder=0 'allowfullscreen'></iframe>	</div>

					<div class="share">				

					<div class="info"></div>

				

											</div>

										</div>

								</div>

								<div class="col-md-4"><div class="wrap-vid"></div>

								</div>

							</div>

						</div>

					</div>

				</div>

				</div>

		</div>

	</div>

<include file="footer" />



	